.firstpage {
  display: grid;
  background-color: rgb(253, 239, 218);
  grid-template-columns: 1fr 1fr 300px 1fr;  
  grid-template-rows: 70px 80px auto auto auto 290px;
  grid-template-areas:"h h h h"
                      "n n n n"
                      "s s s s"
                      "d d d d"
                      "m m m m"
                      "fo fo fo fo";
  margin: 50px 3%;
  border-radius: 15px;
  border: 3px solid rgb(255, 255, 255); 
  box-shadow: 0px 0px 4px 0px rgba(84, 84, 84, 0.48), 0px 3px 11px 1px rgba(90, 90, 90, 0.54);
}









